VITE_API_BASE_URL=http://localhost:5000
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_OPEN_METEO_WEATHER_URL=https://api.open-meteo.com/v1/forecast
VITE_OPEN_METEO_GEOCODE_URL=https://geocoding-api.open-meteo.com/v1/reverse
VITE_MAP_EMBED_BASE_URL=https://maps.google.com/maps
